body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#register {
    text-align: left;
}
@media only screen and (max-width: 600px) {
    #register-container{
        width:100%;
    }

    #register-form{
        width:100%;
    }
}
#register form div {
    margin-bottom: 5px;
    margin-top:10px;
    width:40%;
}
#register-container {
    background-color: #f0f0f0;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#register-form {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


